.post-content, .posts {
  width: 70%;
  word-wrap: break-word;
  line-height: 25px;
}

.post-content pre {
  overflow-x: scroll;
  padding-top: 20px;
  background: black;
  color: white;
}

.post-content .center-img {
  margin: 0 auto;
  text-align: center;
}

.italic {
  font-style: italic;
}

.code-color {
  color: purple;
}

blockquote {
  border-left: 3px #ccc solid;
  margin-left: 0;
  padding-left: 40px;
}

@media (max-width: 500px) {
  .post-content, .posts  {
    width: 100%;
  }
}