.home-center {
  margin: 0px auto;
  text-align: center;
}

.home-center p {
  font-size: 16px;
  line-height: 20px;
  margin: 20px auto;
  margin-bottom: 50px;
  max-width: 600px;
  text-align: left;
}

.home-center a.socio-account {
  margin: 0 10px;
}
