.projects {
  padding-left: 5%;
}

.project-title {
  font-size: 20px;
  display: block;
  margin-top: 50px;
}

.project img {
  border: 2px #ccc solid;
  margin-top: 25px;
}

.project .description, .project img {
  width: 380px;
  max-width: 100%;
}